body{
    zoom: 95%;
}

.custom-bg{
    /* background-image: url('./background.png');
    background-size: cover; */
    /* background-color: rgb(11, 93, 38); */
    background-color: rgb(32, 32, 32);
}

/* @font-face {
    font-family:"casino" ;
    src: url("./Casino.ttf");
} */

@font-face {
    font-family:"casinoItalic" ;
    src: url("./CasinoShadow-Italic.ttf");
}

@font-face {
    font-family:"casino" ;
    src: url("./fonts/Casino.ttf");
}

@font-face {
    font-family:"retro" ;
    src: url("./Gameplay.ttf");
}

.banco-parrafo{
    font-size: 25px;
    position: relative;
    top: 15px;
    font-family: "casino";
}



.bank-container{
    display: flex;
}

.dollar-icon{
    width: 40px;
    height: 40px;
    position: relative;
    top: 20px;
    margin-right:5px;
}

h1{
    text-align: center;
    /* color: white; */
    /* padding-bottom: 10px; */
    font-family: casinoItalic;
    
}

#h1{
    font-size: 70px;
}




.icons{
    width: 70px;
    /* float: right; */
    cursor: pointer;
    position:relative;
    bottom: 30px;
    margin: 10px;
}

.icons star{
    width: 100px;
}

.icons-container{
    display: flex;
    flex-direction: column;
    float: right;
    position:relative;
    bottom: 70px;
}

#star-icon{
    width: 55px;
    position: relative;
    left: 7px;
}

.card-text p{
    text-decoration: underline;
}


.btn-close {
    background-color: rgb(255, 255, 255) !important; 
    border: none;
}

.win-text{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "retro";
    -webkit-text-stroke: 1px rgb(0, 253, 42); /* Ancho y color del borde */
}

.lose-text{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "retro";
    -webkit-text-stroke: 1px rgb(255, 0, 0); /* Ancho y color del borde */
    
}

.draw-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "retro";
    -webkit-text-stroke: 1px rgb(255, 203, 34); /* Ancho y color del borde */

}

.all-game{
    text-align: center;
    /* color: white; */
}

.all-cards-container{
    /* display: flex;
    justify-content: center;
    padding: 10px; */
}

/* Tamaño donde estan ubicadas las cartas */
.my-cards, .dealer-cards{
    /* border: 1px solid; */
    background-color: rgb(69, 68, 68);
    /* background-color: rgba(255, 255, 255, 0.103); */
    border-radius: 4px;
    height: 255px;
    margin-bottom: 30px;
    /* width: 1000px; */
}

.my-cards img, .dealer-cards img{
    width: 153px;
    border: 1px solid;
    margin: 20px;
}


/* Tamaño de las cartas */
#myCards img, #dealerCards img{
    width: 110px;
    border: none;
}
/* 
#myCards img, #dealerCards img{
    width:100px;
} */




.bank-text{
   padding-top: 10px;
    
}

.reStart-btn{
    margin-top: 2%;
    position: relative;
    right: 11px;
    bottom: 16px;
    /* border: none; */
    /* border-radius: 5px; */
    /* background-color: rgb(255, 255, 255); */
}

.reload-btn{
    color: rgba(255, 3, 196, 0.778);
}

.win-or-lose{
    color: white;
}


