.custom-bg{
    /* background-image: url('./background.png');
    background-size: cover; */
    /* background-color: rgb(11, 93, 38); */
    background-color: rgb(32, 32, 32);
}

/* @font-face {
    font-family:"casino" ;
    src: url("./Casino.ttf");
} */

@font-face {
    font-family:"casinoItalic" ;
    src: url("./CasinoShadow-Italic.ttf");
}

h1{
    text-align: center;
    /* color: white; */
    /* padding-bottom: 10px; */
    font-family: casinoItalic;
}


.icons{
    width: 70px;
    /* float: right; */
    cursor: pointer;
    position:relative;
    bottom: 30px;
    margin: 10px;
}

.icons star{
    width: 100px;
}

.icons-container{
    display: flex;
    flex-direction: column;
    float: right;
    position:relative;
    bottom: 70px;
}

#star-icon{
    width: 55px;
    position: relative;
    left: 7px;
}

.card-text p{
    text-decoration: underline;
}

#h1{
    font-size: 70px;
}



.all-game{
    text-align: center;
    /* color: white; */
}

.all-cards-container{
    /* display: flex;
    justify-content: center;
    padding: 10px; */
}

/* Tamaño donde estan ubicadas las cartas */
.my-cards, .dealer-cards{
    /* border: 1px solid; */
    /* background-color: rgb(91, 91, 91); */
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 4px;
    height: 280px;
    margin-bottom: 20px;
    /* width: 1000px; */
}

.my-cards img, .dealer-cards img{
    width: 150px;
    border: 1px solid;
    margin: 20px;
}


/* Tamaño de las cartas */
#myCards img, #dealerCards img{
    width: 125px;
    border: none;
}
/* 
#myCards img, #dealerCards img{
    width:100px;
} */


.bank-text{
   padding-top: 10px;
    
}

.reStart-btn{
    margin-top: 2%;
    position: relative;
    right: 11px;
    bottom: 16px;
    /* border: none; */
    /* border-radius: 5px; */
    /* background-color: rgb(255, 255, 255); */
}

.reload-btn{
    color: rgba(255, 3, 196, 0.778);
}

.win-or-lose{
    color: white;
}


